header{
   
    font-family: 'Montserrat', sans-serif;
}
.header-top {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 37px;
    background-color: black;
    color: whitesmoke;
}
.header-top p {
    text-align: center;
    line-height: 37px;
    font-size: 14px;
    margin: 0;
    font-weight: bolder;
}

/* Navbar css */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    height: 100px;
    background-color: #F5F5F5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header nav,
ul {
    gap: 20px;
  list-style-type: none;            
}
header nav .logo img {
    height: 66px;
}
header nav .nav-links {
    display: flex;
    gap: 20px;
}
header nav .nav-links a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    display: flex;
    gap: 30px;
    ;
    font-weight: bold;
}
header nav .nav-links a:hover {
    color: #087063;
}

/* button*/

.auth-buttons {
    display: flex;
    gap: 10px;
}

.login-btn {
    background-color: #087063;
    border: 2px solid #087063;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.login-btn:hover {
    background-color: #065a4f;
}
.signup-btn {
    background-color: white;
    color: #087063;
    border: 2px solid #087063;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.signup-btn:hover {
    color: white;
    background-color: #087063;
   
}
                                               